
    
        body{
            font-family:'Poppins', sans-serif;
            background: linear-gradient(to right, #4d0000, #000c19);
            display:flex;
            

        }
  table {
  width: 100%;
  border-collapse: collapse;
}


        
        
  
  
  
  

 
  





    


